    <!-- About Section -->
    <section id="about" style="background: white;">
      <div class="container content-section text-right">
        <div class="row">
            <!-- <div class="col-md-4" data-aos="zoom-in">
              <br/><br/>
              <h2 style="font-size: 35px"><span style="font-weight: 700;">The next is </span><span style="font-weight: 100; color: #B7B7B7">Wedding</h2>
              <br/>
              <div class="lead" style="font-size: 16px; text-align: justify; text-justify: inter-word;">
                Contrary to popular belief of GROOM, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              </div>
              <br/><br/>
            </div> -->
            <div class="col-md-12">
              <br/><br/>
              <div data-aos="zoom-in">
                  <h2 style="font-size: 35px"><span style="font-weight: 700;">The next is </span><span style="font-weight: 100; color: #B7B7B7">Wedding</h2>
              </div>
              <br/>
              <div class="lead" style="font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;" data-aos="fade-in" data-aos-offset="180" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-once=false>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              </div>
              <br/><br/>
            </div>
            <!-- <div class="col-md-4" data-aos="zoom-in">
              <br/><br/>
              <h2 style="font-size: 35px"><span style="font-weight: 700;">The next is </span><span style="font-weight: 100; color: #B7B7B7">Wedding</h2>
              <br/>
              <div class="lead" style="font-size: 16px; text-align: justify; text-justify: inter-word;">
                Contrary to popular belief of BRIDE, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              </div>
              <br/><br/>
            </div> -->
        </div>
      </div>
    </section>
