    <!-- About Section -->
    <!-- About Section -->
    <section id="about" style="background: white;">
      <div class="container content-section text-center">
        <div class="row">
          <div class="col-md-12">
              <br/><br/>
              <div data-aos="zoom-in">
                  <h2 style="font-size: 35px"><span style="font-weight: 700;">The next is </span><span style="font-weight: 100; color: #B7B7B7">Wedding</h2>
              </div>
              <br/>
              <div data-aos="fade-in" class="lead" style="font-size: 15px; font-weight: light; text-align: justify; text-justify: inter-word;">
                  Finally, the much awaited wedding is knocking the door. The functions would taking place in Shirdi on 8th-9th May and in Siliguri on 14th May. We would be highly honered by your presence on that auspicious day.
                  The blessings of the elders, the fun with the friends and youngers are all that we demand. Please don't bring any gifts at all. Your generous presence
                  will serve that purpose already. We would be highly obliged if you give us the chance to host you at the wedding venue. Keeping that in mind, we have already organized
                  your stay there. We hope we all would enjoy those days to the fullest.
              </div>
              <br/><br/>
            </div>
        </div>

        <div id="bio" class="row">

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <img  data-aos="zoom-in" src="https://c1.staticflickr.com/3/2151/32291764954_212712e169_b.jpg" style="width:100%"/>
              </div>
            </div>
            </br></br>
            <div class="row" style="font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
              <div class="col-md-3"></div>
              <div data-aos="fade-in" data-aos-offset="150" data-aos-easing="ease-in-sine" class="col-md-9">
                <span class="dropcap">Teju says</span> I saw Shuro in the lectures at the university. I always thought of him as a handsome gentleman, too intelligent for me. My admiration for Shuro overflew when I saw him playing the piano in the canteen.
                We exchanged short glances with a desire to see again. We did not have to wait very long - to our surprise we met in the same German language class where our eyes could meet often. That's why we used to
                sit opposite to each other intentionally. Surprisingly, Shuro never used to return me any smiles back. He was rather ignoring me. Then I decided to unfriend him from my Facebook.
                But he got lucky because soon we actually ‘met’ and ‘talked’ for the first time in Chemnitz city fest with other friends. I realised that Shuro was trying hard to take his eyes off me. Well this confirmed
                that he felt for me but he was too proud to admit it.
              </div>
            </div>
            <br/><br/>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <img  data-aos="zoom-in" src="https://c1.staticflickr.com/3/2907/33137247175_cc2607d6bf_b.jpg" style="width:100%"/>
              </div>
              <div class="col-md-3"></div>
            </div>
            </br></br>
            <div class="row" style="font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
              <div data-aos="fade-in" data-aos-offset="150" data-aos-easing="ease-in-sine" class="col-md-9">
                <span class="dropcap">Shuro says</span> I saw Teju on day 1 at the university. It was love at first sight for me. But since I was a shy person, I wouldn't dare look into her eyes. I followed her to the tram,
                the city centre, university library, lectures, events etc. Being careful enough, I wanted to be unseen. She, on the other hand, was clever enough to see through my actions.
                She was observing it all that while. God forbid I was spying on her for love, but never intended to talk too her. I took it for granted that she would be my wife. Only my
                closest friends knew about it. I must acknowledge that there was absolutely no way that I could get the sweetest girl in the unvierse until I spoke to her at least for once.
                Teju is such a vivacious person besides being equally gorgeous and intelligent that I couldn't refrain myself from proposing to her.
              </div>
              <div class="col-md-3"></div>
            </div>
            <br/><br/>
          </div>
        </div>

      </div>
    </section>

    <section class="parallax" style="background-position: 0px 50px; background-image: url('https://c1.staticflickr.com/3/2151/32291764954_e26c996a0c_h.jpg');">
      <div class="container content-section text-right">
        <div class="row">
          <div class="col-md-4">
              <br/><br/>
              <div data-aos="zoom-in">
                  <h2 style="font-size: 35px; font-weight: bold; color: white;">Teju says</h2>
              </div>
              <br/>
              <div data-aos="fade-in" class="lead" style="color: white; font-size: 16px; font-weight: light; text-align: justify; text-justify: inter-word;">
                I saw Shuro in the lectures at the university. I always thought of him as a handsome gentleman, too intelligent for me. My admiration for Shuro overflew when I saw him playing the piano in the canteen.
                We exchanged short glances with a desire to see again. We did not have to wait very long - to our surprise we met in the same German language class where our eyes could meet often. That's why we used to
                sit opposite to each other intentionally. Surprisingly, Shuro never used to return me any smiles back. He was rather ignoring me. Then I decided to unfriend him from my Facebook.
                But he got lucky because soon we actually ‘met’ and ‘talked’ for the first time in Chemnitz city fest with other friends. I realised that Shuro was trying hard to take his eyes off me. Well this confirmed
                that he felt for me but he was too proud to admit it.
              </div>
              <br/><br/>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="parallax" style="background-position: 0px -50px; background-image: url('https://c1.staticflickr.com/3/2907/33137247175_131e482534_h.jpg');">
      <div class="container content-section text-right">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <br/><br/>
            <div data-aos="zoom-in">
                <h2 style="font-size: 35px; font-weight: bold; color: white;">Shuro says</h2>
            </div>
            <br/>
            <div data-aos="fade-in" class="lead" style="color: white; font-size: 16px; font-weight: light; text-align: justify; text-justify: inter-word;">
              I saw Teju on day 1 at the university. It was love at first sight for me. But since I was a shy person, I wouldn't dare look into her eyes. I followed her to the tram,
              the city centre, university library, lectures, events etc. Being careful enough, I wanted to be unseen. She, on the other hand, was clever enough to see through my actions.
              She was observing it all that while. God forbid I was spying on her for love, but never intended to talk too her. I took it for granted that she would be my wife. Only my
              closest friends knew about it. I must acknowledge that there was absolutely no way that I could get the sweetest girl in the unvierse until I spoke to her at least for once.
              Teju is such a vivacious person besides being equally gorgeous and intelligent that I couldn't refrain myself from proposing to her.
            </div>
            <br/><br/>
          </div>
        </div>
      </div>
    </section>
