<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation" style="border: none">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home"><i class="fa fa-heart fa-fw heartbeat animate-infinite-heartbeat" style="color: tomato; font-size: 30px; margin-top: -5px"></i></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-family: Gotham-Bold;">
            	  <li>
                    <a class="page-scroll" href="#about" style="font-size: 12px; letter-spacing: 1px; color: white;">ABOUT</a>
                </li>
                <li>
                    <a class="page-scroll" href="#story" style="font-size: 12px; letter-spacing: 1px; color: white;">STORY</a>
                </li>
                <li>
                    <a class="page-scroll" href="#events" style="font-size: 12px; letter-spacing: 1px; color: white;">EVENTS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rsvp" style="font-size: 12px; letter-spacing: 1px; color: white;">RSVP</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
  <img class="bg-img" src="https://c1.staticflickr.com/4/3876/33468246576_88d2a763df_k.jpg"/>
  <img class="bg-img-blur" src="https://c1.staticflickr.com/4/3888/33125744550_8405265f83_k.jpg"/>
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<div class="intro-message">
						<h1 class="option animated rubberBand animation-css-media-query-h1" style="font-family: Roboto; font-weight: 100;">{{ site.title }}</h1>
			      <h2 class="option animated slideInUp animation-css-media-query-h2">{{ site.subtitle }}</h2>
            <scroll id="scroll-style" class="scrolling">
	              <a class="page-scroll" href="#about"><span></span></a>
            </scroll>
            <audio id="audio" src="audio.mp3" type="audio/mpeg" autoplay hidden volume="0"></audio>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>
