<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- testimonial slider -->
<script src="js/owl.carousel.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/hammer.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/imagesloaded.pkgd.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/sequence.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/sequence-theme.modern-slide-in.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/drawmap.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/aos.js"></script>
