<!-- About Section -->
<section id="rsvp"; style="background: white">
  <div class="container content-section text-center">
    </br></br>
     <div class="row">
        <div class="col-md-12">
          <br/><br/>
          <div data-aos="zoom-in">
              <h2 class="welcomes">Welcome</h2>
              <h2 class="welcomes">Willkommen</h2>
              <h2 class="welcomes">Witamy Was</h2>
              <h2 class="welcomes">Bienvenue</h2>
              <h2 class="welcomes">Hoş Geldiniz</h2>
              <h2 class="welcomes">欢迎</h2>
              <h2 class="welcomes">أهلابك</h2>
              <h2 class="welcomes">καλως ΗΡΘΑΤΕ</h2>
              <h2 class="welcomes">Benvenuto</h2>
              <h2 class="welcomes">Bienvenido</h2>
              <h2 class="welcomes">स्वागतम्</h2>
              <h2 class="welcomes">Bun Venit</h2>
              <h2 class="welcomes">Bem Vindo</h2>
              <h2 class="welcomes">স্বাগত</h2>
              <h2 class="welcomes">ಸ್ವಾಗತ</h2>
              <h2 class="welcomes">Добро Пожаловать</h2>
              <h2 class="welcomes">ようこそ</h2>
          </div>
        </div>
      </div></br>
      <div class="container">
  			<div class="row">
  				<div class="col-md-6 text-right">
  					<div class="intro-message form-style"  style="margin-top: 0;">
              <form method="POST" action="https://www.formingo.co/submit/wedding@tejuandshuro.com">
                <input type="text" name="name"  placeholder="Name" id="name" autocomplete="off" required/>
                <input type="text" name="phone" placeholder="Phone" id="phone" autocomplete="off" required/>
                <input type="email" name="email" placeholder="Email" id="email" autocomplete="off" required/>
                <input type="text" name="adults" placeholder="#Adults" id="adults" autocomplete="off" required/>
                <input type="text" name="children" placeholder="#Children" id="children" autocomplete="off" required/>
                <input type="text" name="places" placeholder="Place(s)" id="place" autocomplete="off" required/>
                <input type="text" name="message" placeholder="Message" id="message" />
                <input type="hidden" name="__redirect" value="http://tejuandshuro.com/" required/></br>
                <input type="submit" style="font-family: Gotham-Regular" value="RSVP" />
              </form>
  					</div>
  				</div>

          <div class="col-md-6" style="transform: translateY(0%);" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-duration="1000">
            <div data-aos="fade-in" class="lead" style="padding-top: 0; padding-bottom: 20px; margin-bottom: 0; font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
              <h2 class="text-center" style="font-size: 50px; font-weight: bold;">Contact</h2><br/>
              <div class="contacts text-center">
                  <i class="fa fa-whatsapp" aria-hidden="true" style="color: #4dc247;"></i> +49 170 9372197</br>
                  <i class="fa fa-whatsapp" aria-hidden="true" style="color: #4dc247;"></i> +49 171 3241720</br>
                  <i class="fa fa-envelope" aria-hidden="true" style="color: #FF8000;"></i> <a style="text-decoration: none;" href="mailto:wedding@tejuandshuro.com">wedding@tejuandshuro.com</a></br>
                  <i class="fa fa-facebook-official" aria-hidden="true" style="color: #3b5998;"></i> <a style="text-decoration: none;" href="https://www.facebook.com/tjsu1706">Tejashree Surajit</a></br>
              </div></br>
              <h2 class="text-center" style="font-size: 50px; font-weight: bold;">Address</h2><br/>
              <div class="row" style="font-size: 18px">
                 <div class="col-md-6 address-srd">
                   <span style="color: gray; font-size: 30px; font-weight: bold">Shirdi</span></br>
                   Hotel Shanti Kamal<br/>
                   Nagar Manmad Road<br/>
                   Near Sai Bhakta Niwas<br/>
                   Near Indian Oil Petrol Pump<br/>
                   Shirdi<br/>
                   Maharashtra 423109<br/>
                   India<br/>
                   Phone: +91 2423 256 642<br/>
                 </div>
                 <div class="col-md-6 address-slg">
                   <span style="color: gray; font-size: 30px; font-weight: bold">Siliguri</span></br>
                   Shreema Bhawan<br/>
                   Haidar Para Bazar<br/>
                   Ward 39<br/>
                   Siliguri<br/>
                   West Bengal 734001<br/>
                   India
                 </div>
              </div>
            </div>
          </div>

  			</div>
  		</div>
    </div>
</section>
