<!-- About Section -->
<section id="rsvp"; style="background: white">
  <div class="container content-section text-right">
      <div class="container">
  			<div class="row">
  				<div class="col-lg-12 text-right">
  					<div class="intro-message form-style">
              <form method="POST" action="https://www.formingo.co/submit/wedding@tejuandshuro.com">
                <input type="text" name="name"  placeholder="Name" id="name" autocomplete="off" required/>
                <input type="text" name="phone" placeholder="Phone" id="phone" autocomplete="off" required/>
                <input type="email" name="email" placeholder="Email" id="email" autocomplete="off" required/>
                <input type="text" name="adults" placeholder="#Adults" id="adults" autocomplete="off" required/>
                <input type="text" name="children" placeholder="#Children" id="children" autocomplete="off" required/>
                <input type="text" name="places" placeholder="Place(s)" id="place" autocomplete="off" required/>
                <input type="text" name="message" placeholder="Message" id="message" />
                <input type="hidden" name="__redirect" value="http://tejuandshuro.com/" required/>
                <input type="submit" style="font-family: Gotham-Regular" value="RSVP" />
              </form>
  					</div>
  				</div>
  			</div>
  		</div>
    </div>
</section>
