<!-- About Section -->
<section id="story" style="background: white;">
  <div class="container content-section text-right">
    <div class="row">
      <div class="col-md-12">
          <br/><br/>
          <div data-aos="zoom-in">
              <h2 style="font-size: 35px"><span style="font-weight: 700;">The next is </span><span style="font-weight: 100; color: #B7B7B7">Wedding</h2>
          </div>
          <br/>
          <div data-aos="fade-in" class="lead" style="font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          </div>
          <br/><br/>
        </div>
    </div>
  </div>
</section>

<section id="timeline" style="background: white; padding-top: 20px; padding-bottom: 20px">
<div class="frst-container content-section text-right">
    <!-- frst-left-align/frst-right-align/frst-alternate/frst-date-opposite-->
    <div class="frst-timeline frst-timeline-style-3 frst-alternate frst-date-opposite">

        <div class="frst-timeline-block frst-odd-item" data-aos="fade-down-right">
            <div class="frst-timeline-img"> <span class="turqoise"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect1 animated hingeRight">
                <div class="frst-timeline-content-inner turqoise"> <span class="frst-date">09:00 am</span> <span class="icon-section">
                        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    </span>
                    <div class="text-section">
                        <h2>Frst Responsive Timeline</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                    </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>


        <!-- frst-timeline-block -->
        <div class="frst-timeline-block frst-even-item" data-aos="fade-down-left">
            <div class="frst-timeline-img"> <span class="light-blue"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect2 animated hingeRight">
                <div class="frst-timeline-content-inner light-blue"> <span class="frst-date">09:30 am</span> <span class="icon-section">
                        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    </span>
                    <div class="text-section">
                        <h2>Frst Responsive Timeline</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                    </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>


        <!-- frst-timeline-block -->
        <div class="frst-timeline-block frst-odd-item" data-aos="fade-down-right">
            <div class="frst-timeline-img"> <span class="blue"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect1 animated hingeRight">
                <div class="frst-timeline-content-inner blue"> <span class="frst-date">10:00 am</span> <span class="icon-section">
                        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                    </span>
                    <div class="text-section">
                        <h2>Frst Responsive Timeline</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                    </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>
        <!-- frst-timeline-block -->
    </div>
    <!-- frst-timeline -->
</div>
</section>
