<!-- About Section -->
<section id="story" style="background: white;">
  <div class="container content-section text-center">
    <div class="row">
      <div class="col-md-12">
          <br/><br/>
          <div data-aos="zoom-in">
              <h2 style="font-size: 35px"><span style="font-weight: 700;">The</span><span style="font-weight: 100; color: #B7B7B7"> Proposal</h2>
          </div>
          <br/>
          <div data-aos="fade-in" class="lead" style="font-size: 15px; font-weight: light; text-align: justify; text-justify: inter-word;">
            Having opposites interests, when they started sharing their hobbies with each other, teaching each other music, german language, basketball, football - the
            relationship between them started getting more than a friendship. As the time passed, Teju and Shuro started practicing the piano. The daily piano session
            used to be a much awaited moment for them. Becasuse this was the moment everyday when they used to see each other and after the practice they used to go for
            a walk. In an evening as such, Shuro finally proposed her. She was looking like the happiest person on earth that day. The proposal went like this -
          </div>
          <br/><br/>
        </div>
    </div>
  </div>
</section>

<section id="timeline" style="background: white; padding-top: 20px; padding-bottom: 20px">
<div class="frst-container content-section text-right">
    <!-- frst-left-align/frst-right-align/frst-alternate/frst-date-opposite-->
    <div class="frst-timeline frst-timeline-style-3 frst-alternate frst-date-opposite">

        <div class="frst-timeline-block frst-odd-item" data-aos="fade-down-right">
            <div class="frst-timeline-img"> <span class="turqoise"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect1 animated hingeRight">
                <div class="frst-timeline-content-inner turqoise">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="text-section">
                          <h2 style="font-size: 20px">What else do you like?</h2>
                          <p style="font-size: 15px">(His aim was to impress her. His expression was if he was going to bring what she likes from anywhere possible in the universe on her feet.)</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img  data-aos="zoom-in" src="../img/shuro.jpg" style="width:100%; border-radius: 50%;"/>
                    </div>
                  </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>


        <!-- frst-timeline-block -->
        <div class="frst-timeline-block frst-even-item" data-aos="fade-down-left">
            <div class="frst-timeline-img"> <span class="light-blue"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect2 animated hingeRight">
                <div class="frst-timeline-content-inner light-blue">
                  <div class="row">
                    <div class="col-md-3">
                      <img  data-aos="zoom-in" src="../img/teju.jpg" style="width:100%; border-radius: 50%;"/>
                    </div>
                    <div class="col-md-9">
                      <div class="text-section text-left">
                          <h2 style="font-size: 20px">I like eating</h2>
                          <p style="font-size: 15px">(As if she was starving since ages. This seems a complete lie when a thin person says this. But now she eats like a monster when shuro prepares some delicious food.)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>


        <!-- frst-timeline-block -->
        <div class="frst-timeline-block frst-odd-item" data-aos="fade-down-right">
            <div class="frst-timeline-img"> <span class="blue"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect1 animated hingeRight">
                <div class="frst-timeline-content-inner blue">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="text-section">
                          <h2 style="font-size: 20px">Well, I like Cooking</h2>
                          <p style="font-size: 15px">(He just lied. He had never cooked before. But now he has become a pro chef after the commitment to keep his promise. Now he prepares delicious cuisines every now and then.)</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img  data-aos="zoom-in" src="../img/shuro.jpg" style="width:100%; border-radius: 50%;"/>
                    </div>
                  </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>
        <!-- frst-timeline-block -->


        <!-- frst-timeline-block -->
        <div class="frst-timeline-block frst-even-item" data-aos="fade-down-left">
            <div class="frst-timeline-img"> <span class="light-blue"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect2 animated hingeRight">
                <div class="frst-timeline-content-inner light-blue">
                  <div class="row">
                    <div class="col-md-3">
                      <img  data-aos="zoom-in" src="../img/teju.jpg" style="width:100%; border-radius: 50%;"/>
                    </div>
                    <div class="col-md-9">
                      <div class="text-section text-left">
                          <h2 style="font-size: 20px">So . . . ?</h2>
                          <p style="font-size: 15px">(She needn't have to proceed further continuing the discussion with a question. She did because she wanted shuro to propose her in his next words.)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>

        <div class="frst-timeline-block frst-odd-item" data-aos="fade-down-right">
            <div class="frst-timeline-img"> <span class="turqoise"></span> </div>
            <!-- frst-timeline-img -->
            <div class="frst-timeline-content effect1 animated hingeRight">
                <div class="frst-timeline-content-inner turqoise">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="text-section">
                          <h2 style="font-size: 20px">So be my soulmate</h2>
                          <p style="font-size: 15px">(Please! Please! Please! I will cook, bake, brew anything that you like. It be Indian Curry, Chinese Noodles, German Maultasche, French Macaron, Italian Pasta, Tortellini, Lasgna. Gnocchi etc.)</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <img  data-aos="zoom-in" src="../img/shuro.jpg" style="width:100%; border-radius: 50%;"/>
                    </div>
                  </div>
                </div>
                <!-- frst-timeline-content-inner -->
            </div>
            <!-- frst-timeline-content -->
        </div>




    </div>
    <!-- frst-timeline -->
</div>
</section>
