<section id="testimonial">
  <div class="container" style="width: 100%">
    <div class="row">
        <div class="testimonial-carousel owl-carousel" style="width: 100%">
          <div style="background-color: #f7f7f7;">
            <i class="fa fa-quote-left" style="color: gray; font-size: 30px; padding: 5% 0 3% 0;"></i>
              <p style="font-family: Allura; font-size: 20px; margin: 0 10% 0 10%;">Where the mind is without fear and the head is held high
Where knowledge is free
Where the world has not been broken up into fragments
By narrow domestic walls
Where words come out from the depth of truth
</p>
              <div class="user" style="margin:0; padding: 0; top:100px;">
                <center style="padding-bottom:5%;"><img src="img/sapta.jpg" alt="Pepole"><center>
                <p><span>Saptarshi Chakrabarty</span> CEO-µSigma</p>
              </div>
          </div>
          <div style="background-color: #f7f7f7;">
            <i class="fa fa-quote-left" style="color: gray; font-size: 30px; padding: 5% 0 3% 0;"></i>
              <p style="font-family: Allura; font-size: 20px; margin: 0 10% 0 10%;">Where the mind is without fear and the head is held high
Where knowledge is free
Where the world has not been broken up into fragments
By narrow domestic walls
Where words come out from the depth of truth
Where tireless striving stretches its arms towards perfection
Where the clear stream of reason has not lost its way</p>
              <div class="user" style="margin:0; padding: 0; top:100px;">
                <center style="padding-bottom:5%;"><img src="img/sapta.jpg" alt="Pepole"><center>
                <p><span>Saptarshi Chakrabarty</span> CEO-µSigma</p>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>
